# generated and tmp files
*~
data/themes/default/*.edj
src/*.o
src/*.lo
src/*.la
src/.deps
src/elemines
src/eleminesql
packaging/slackware/elemines-*.txz
elemines-*.tar.?z*
po/*.gmo
po/POTFILES
src/.libs

# autotools crap
m4/*.m4
!m4/efl_*.m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

# gettext crap
ABOUT-NLS
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
