[Desktop Entry]
Categories=Application;Game;BoardGame;
Comment=EFL mine sweeper
Comment[fr]=démineur basé sur les EFL
Comment[it]=Campo minato basato sulle EFL
Comment[ru]=Сапёр
Encoding=UTF-8
Exec=elemines
GenericName=mine sweeper
GenericName[fr]=démineur
GenericName[it]=Campo minato
GenericName[ru]=Сапёр
Icon=elemines
Name=elemines
Name[fr]=Elemines
Type=Application
Version=1.0
