[Desktop Entry]
Version=1.0
Type=Application
Name=elemines
GenericName=mine sweeper
GenericName[fr]=démineur
GenericName[ru]=Сапёр
Comment=EFL mine sweeper
Comment[fr]=démineur basé sur les EFL
Comment[ru]=Сапёр
Exec=elemines
Icon=elemines
Categories=Application;Game;BoardGame;
